{% extends 'main/base.html' %} {% block title %} Добавить вопрос {% endblock %} {% block content %}

<table class="table">
    <tbody>
        <tr>
            <td class="table_left">

                <div>
                    <ul class="menu">
                        <li><a href="{% url 'quiz_index' %}">Все тесты</a></li>
                        <li><a href="#">Мои тесты</a></li>

                    </ul>
                </div>


            </td>

            <td class="table_righ">
                <table class="tftable">

                    <form method="post">
                        {% csrf_token %}
                        <p> Тема курса: {{ form.category }}<br></p>
                        <p> Вопрос: {{ form.content }}<br></p>
                        <p>Объяснение: {{ form.explanation }}<br></p>
                        <p>{{ form.objects }}</p>


                        <button type="submit" class="btn btn-success">Добавить вопрос</button>
                        <span>{{ error }}</span>
                    </form>
                </table>
            </td>

            {% endblock %}