{% extends 'main/base.html' %} {% block title %} Добавить тест {% endblock %} {% block content %}

<table class="table">
    <tbody>
        <tr>
            <td class="table_left">
                <div>
                    <ul class="menu">
                        <li><a href="{% url 'quiz_index' %}">Все тесты</a></li>
                        <li><a href="#">Мои тесты</a></li>
                        <li><a href="{% url 'add_test' %}">Добавить тест</a></li>
                    </ul>
                </div>
            </td>
            <td class="table_right">

                <form method="post">
                    {% csrf_token %}
                   {{form.as_p}}
                    {{form1.as_p}}
                    <button type="submit" class="btn btn-success">Добавить тест</button>
                    <span>{{ error }}</span>
                </form>
            </td>
        </tr>
    </tbody>
</table>


{% endblock %}