{% extends "main/base.html" %} {% block content %}

<table class="table">
    <tbody>
        <tr>
            <td class="table_left">


            </td>
            <td class="table_right">

                {% if user.is_authenticated %}
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="table_left">
                                <p> <img class="user_img" src="{{MEDIA.URL }} {{ user.photo.url }} " alt="аватар "></p>
                            </td>
                            <td class="table_right title_name__table">{{user.name}} {{user.last_name}} {{user.students_groups}}
                            </td>
                        </tr>
                    </tbody>
                </table>


                {% endif %} {% endblock %}
            </td>
        </tr>
    </tbody>
</table>