{% extends 'main/base.html' %} {% block title %} Добавить курс {% endblock %} {% block content %}

<table class="table">
    <tbody>
        <tr>
            <td class="table_left">


            </td>

            <td class="table_righ">
                <table class="tftable">
                    <form method="post">
                        {% csrf_token %} {{form.as_p}}
                        <span>{{ error }}</span>
                        <button type="submit" class="btn btn-success">Добавить курс</button>
                    </form>
                </table>
            </td>


            {% endblock %}